*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans',sans-serif;
    transition: all .4s;
}
#welcome{
    position: absolute;
    width: 700px;
    top: 20%;
    left: 33%;
    opacity: 0;
    animation-name: wel;
    animation-duration: 4.5s;
    animation-iteration-count: 1;
}
@keyframes wel{
    0%{
        opacity: 0.7;
    }
    100%{
        opacity: 0.7;
        display: none;
    }
}
#welcome img{
    border-radius: 60px 180px;
    width:700px;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./images/Green\ White\ Minimalist\ Special\ Menu\ Burger\ Banner\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden;
}
nav{
    width: 100%;
    background-color: rgb(167, 167, 167);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}
.logo{
    color: white;
    font-size: 28px;
    background: transparent;
    cursor: pointer;
}
span{
    color: #3A5F0B;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
nav ul li a:hover{
    color: #3A5F0B;
    transition: .3s;
   font-size: 20px;
   /* text-decoration: underline; */
}
nav button{
    border: none;
    background: transparent;
    border: 2px solid #3A5F0B;
    color: #3A5F0B;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;

}
nav a{
    text-decoration: none;
}
nav button:hover{
    /* transform: scale(1.3); */
    cursor: pointer;
    background-color: #3A5F0B;
    color: #eee;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: inset 120px 0 0 0 #3A5F0B;

}
.cont{
   
  padding-top: 190px;
  
    /* justify-content: space-around; */
    /* border: 1px solid red; */
}
.cont .left{
    /* border: 1px solid red; */
    width: 50%;
    /* margin-top: 190px; */
    margin-bottom: 40px;
    margin-left: 10%;
   
    /* width: 700px; */
}

.cont .left h1{
    color: white;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0 20px;
}
.cont .left h3{
    color: #eee;
    font-weight: 400;
    font-size: 17px;
}
.cont .left h2{
    margin-bottom: 30px;
}
.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.379);
    margin-bottom: 35px;
}
.social a:hover{
    transform: scale(1.1);
    background-color: #3A5F0B;
    transition: .4s;
}
.left button{
    color: #eee;
    background-color: #3A5F0B;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #3A5F0B;
    border-radius: 30px;
    cursor: pointer;
}
.left button:hover{
    background: transparent;
    border: 2px solid #3A5F0B;
    color: #3A5F0B;
    transition: .4s;
}
.resume{
    height: 100vh;
    border: 1px solid red;

}
.resume img{
     width: 50%;
     height: 50%;
}
.bird{
    position:absolute;
    width: 10%;
    left: 100%;
    animation: fly 20s infinite;
}
@keyframes fly
{
    0%{
        left: -20%;
        top: 5px;
    }
    25%{
        top: 150px;
    }
    50%{
       
        top: 70px;
    }
    75%{
       
        top: 25px;
    }
    100%{
       right: -50px;
        top: 40px;
    }
}
i{
    color: #3A5F0B;
}
i:hover{
    color: #eee;
}
#resume{
    padding-top: 45em;

}
#resumelink:active{
color: #3A5F0B;
}