*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
  }
  body{
    background-color: rgb(238, 238, 241);
    color: black;
  }
  #nav-menu{
    padding: 10px 10%;
   height: 50px;
   margin-top: 15px;
    /* border: 1px solid red; */
    /* background:rgb(90, 143, 86); */
  }
  nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  }
  .nav{
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .logo{
    width: 140px;
    font-size: 38px;
    font-weight: bolder;
  display: flex;
  text-decoration: none;
  color: teal;
  
  }
  .logo span{
    color: rgb(192, 131, 131);
       transition: all 0.3s ease;
  }
  nav ul li{
    display: inline-block;
    list-style: noen;
    margin: 10px;
    position: relative;
    color:white
  }
  nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color:white
  }
  nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: blue;
  position:absolute;
  left:0;
  bottom:-6px;
  transition:0.5s
  }
  nav ul li a:hover::after{
  width: 100%;
  
  }
  nav .fas{
  display: none;
  }
  @media only screen and (max-width:900px){
  nav.fas{
    display: block;
    font-size: 25px;
  }
  .nav{
    position: fixed;
    top:0;
    z-index: 1;
  }
  nav ul {
    background: tomato;
    color:white;
    position: fixed;
    top:0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top:50px ;
    z-index: 2;
    transition: right 0.5s;
  
  }
  nav ul li{
    display: block;
    margin: 25px;
    
  }
  nav ul .fas{
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
  }
  nav .fas{
    display: block;
    font-size: 25px;
  
  }
  ul li{
    background: tomato;
    position: fixed;
    top:0;
    right: 0;
    
    /* width: 200px;
    height: 100vh; */
    /* padding-top: 50px; */
  }
  ul li{
   display: block;
   margin: 25px; 
  }
  nav ul .fas{
    position: absolute;
    top:25px;
    left: 25px;
    cursor: pointer;
  }
  }
  #resume-button-2{
    height: 40px;
    width: 0px; 
    background-color: tomato;
  color:white;
    font-size: 18px;
    border: 0px;
    cursor: pointer;
    
  }
  #resume-button-1{
    /* height: 60px; */
    /* width: 150px; */
    /* background-color: tomato; */
  color:white;
    font-size: 18px;
    border: 0px;
   
    border-radius: 10px;
    
  }
  #resume-button-1:hover{
    cursor: pointer;
    
  }
  /* ............................................Home Section.................................. */
  
    #home {
    
      background: black ;
      position: relative;
      background-color: #def9c9;
      height: 100vh;
      color: #fff;
      min-height: 500px;
      background-size: cover;
      background-attachment: fixed;
      font-family: "Ubuntu", sans-serif;
      background-image: url("./images/black-hole-gif-7.gif");
     
    }
    #home .max-width {
      width: 100%;
      display: flex;
    }
    #home .max-width .row {
      margin-right: 0;
    }
    #home .home-content .text-1 {
      font-size: 27px;
    }
    #home .home-content .text-2 {
      font-size: 75px;
      font-weight: 600;
      margin-left: -3px;
    }
    #home .home-content .text-3 {
      font-size: 40px;
      margin: 5px 0;
    }
    #home .home-content .text-3 span {
      color: rgb(28, 143, 18);
      font-weight: 500;
    }
    #home .home-content a {
      display: inline-block;
      background: rgb(28, 143, 18);
      color: #fff;
      font-size: 25px;
      padding: 12px 36px;
      margin-top: 20px;
      font-weight: 400;
      border-radius: 6px;
      border: 2px solid rgb(28, 143, 18);
      transition: all 0.3s ease;
      text-decoration: none;
    }
    #home .home-content a:hover {
      color: rgb(28, 143, 18);
      background: none;
    }
    .home-content{
      display: flex;
      justify-content: space-between;

    }
    #one{
  
      margin-top: 130px;
     
    }
   
    .home-img{
      width: 100%;
      margin-top: 100px;
      /* height: 150px; */
    
      border-radius: 50%;
    }
    .home-img img:hover{
      box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
  /* ................................About Section............................. */
  .about-section{
    width: 100%;
    /* display: grid; */
    /* grid-template-rows: repeat(1,1fr);
    gap:20px;
    margin-top: 50px; */
    display: flex;
    
  
  }
    #about {
      width: 100%;
      height:auto;
      /* border: 1px solid red; */
      padding-bottom: 20px;
    
    }
    #about h1{
     text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 40px;
    color:white
    }
    .left{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: 1px solid red; */
    
    }
    .left img{
      width: 250px;
      border-radius: 50%;
      height: 250px;
     
      /* margin-left: -100px; */
      border: 2px solid red;
      margin-top: 10px;
   
    }
    .about-section .right{
      width: 80%;
      height: auto;
     margin: auto;
      /* border: 1px solid red; */
      margin-top: 5%;
    
     
     
    
    }
    /* .right{
      width: 100%;
      height: auto;
      margin: auto;
      border: 1px solid red;
    } */
    .right p{
      font-size: 20px;
    
     margin-top: 20px;
     text-align: center;
      color: white;
    }
  
   /* ..............................Skill Section......................... */
    .skill{
      height: auto;
      width: 80%;
      /* border: 1px solid red; */
      margin: auto;
      display: grid;
      grid-template-columns: repeat(6,1fr);
    gap:30px;;
     padding-bottom: 50px;
    
    
    }
    #skills h1{
     color:black;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     font-size: 40px;
     margin-bottom: 50px;
     background-color:  transparent !important;
     /* margin-top: 150px; */
    }
   
    .skills-card{
      /* border: 1px solid red; */
      width: 130px;
      height: 170px;
      /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
      /* background-color:white; */
      border-radius: 10px;
     
      
    }
    .skills-card :hover{
      
      cursor: pointer;
      box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;

    }
    .skills-card img{
      width: 100%;
    
   border-radius: 10px 10px 0px 0px;
      margin: auto;
      
    }
   
  .skills-card-name{
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
  }
  
  /* ........................................Project Section .................................. */
  
  
  
  
  #projects h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 20px;
   color:white
  }
  .project{
    height: auto;
  
  margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin: 0px 20px;
    
  }
  
  .project  .project-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: tomato;
    color: white;
   
  }
   .project-card{
    height: auto;
  
   margin-top: 30px;
   margin-bottom: 40px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:#101110;
    padding-top: 20px;
    color: #fff;
    padding-bottom: 10px;
    border-radius: 10px;
    
  }
  .project-card h1{
  font-size: 20px;
  
  }
  .project .project-card img{
    width: 90%;
    height: 200px;
    margin: 0px 15px;
    border-radius: 10px;
  }
  .project .project-card p{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:5px 10px;
   
  }
  
  .project-tech-stack{
    margin-top: 10px;
    font-size: 20px;
    
  }
  .repo-links {
    display: flex;
    justify-content: space-between;
   
    height: 45px;
    margin: 10px  20px;
    /* border: 2px solid wheat; */
  }
  
  .project-github-link {
    display: flex;
    width: 35%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    
  }
  .project-github-link a{
    text-decoration: none;
    color: white;
  }
  .project-github-link:hover{
    cursor: pointer;
    background:tomato;
    
  }
  
  .project-deployed-link {
    display: flex;
    width: 35%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .project-deployed-link a{
    text-decoration: none;
    color: white;
  }
  .project-deployed-link:hover{
    cursor: pointer;
    background: tomato;
  }
  
  /* ..................................Contact.......................................... */
  
  #contact{
    height: auto;
  width: 98%;
  margin: auto;
    /* border:1px solid red; */
    /* background: #222; */
    border-radius: 10px;
  }
  #contact h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .contact-first{
   
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-bottom: 50px;
  }
  .contact-first div{
    font-size: 50px;
  }
  .contact-first div a{
    text-decoration: none;
    color:#fff
  }
  
  
  /* ...........................Github-Section................................... */
  .react-activity-calendar h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-top: 20px;
  
  margin-bottom:30px;
  }
  
  
  .github {
   
    display: flex;
    justify-content:space-around ;
  }
  
  .calendar{
    width: 100%;
    border: 1px solid red;
  }
  
  
  
  
    @media screen and (min-width: 200px) and (max-width:800px) {
      .home-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        margin-left: 20px;
      }
      #home{
        height: auto;
        width: auto;
        padding-bottom: 50px;
      }
      /* #one{
        margin-left: 40px;
        margin-top: 150px;
       width: auto;
      
      } */
      .right{
        margin-left: 30px;
        
      }
      .skill{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        /* border:1px solid red; */
      
      }
      .skills-card{
        margin-left: 60px;
        margin-bottom: 40px;
        
      }
      .project{
         width: 80%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:5px;
        margin-left: 40px;
      }
      .project-card{
        width: auto;
        margin-top: 0px;
        margin-left: 80px;
        
      }
      #projects h1{
        margin-bottom: 25px;
      }
      .project-card .project-title{
        font-size: 10px;
      }
      
  .github {
    display: grid;
    grid-template-columns: repeat(1,1
    fr);
    margin-left: 20px;
  }
  
  #github-streak-stats img{
    width: 50%;
    margin-top:20px ;
  }
  #github-stats-card  img{
    width: 70%;
    margin-top: 15px;
    margin-left: 50px;
  }
  #github-top-langs{
    margin-top: 15px;
  }
  
  .contact-first{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px;
   margin-top: 20px;
    margin-left: 40px;
  }
  #contact{
    width: 95%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .contact-first div{
    font-size: 20px;
  }
  .about-section{
    
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap:20px;
   
  
  }
  .left img{
    margin-left: 20px;
  }
  .right p{
    font-size: 15px;
  
   text-align: start;
    color: white;
  }
  .github div{
    width: 25%;
  }
  .github div img{
    width: 350%;
  }
  .calendar react-activity-calendar{
    width: auto;
  }
  .home-content>div:nth-child(2)>img
  {
  
   width: auto;
   height:90%;
    border-radius: 50%;
  }
  
  }
  
  
  
  
  
  
  
  .home-content{
    /* border: 1px solid blue; */
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
  }
  
  .home-content>div:nth-child(2){
    width:300px;
    height: 350px;
  }
  .home-content>div:nth-child(2)>img
  {
  
   width: 100%;
   height:90%;
    border-radius: 50%;
  }
  
  
  @media screen and (min-width: 820px) and (max-width:1180px) {
    .skill{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:10px
    }
   
   .github{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 80px;
   }
   #home{
    height: auto;
    padding-bottom: 30px;
   }
   #contact{
    width: 80%;
    margin: auto;
  
   }
   .contact-first{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
  
   }
  }
  
  @media screen and (min-width: 280px) and (max-width:653px) {
    .skill{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap:10px
    }
    #home{
      width: 100%;
    }
    .home-content>div:nth-child(2)>img
  {
  
   width: 70%;
   height:70%;
    border-radius: 50%;
    margin-top: 20px;
  }
  #home{
    height: 100%;
   
   }
  
  /* #contact{
    width: 80%;
    margin-right: 60px;
   
  
   } */
   .project{
    width: 80%;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   gap:40px;
   margin-left: 20px;
  }
  #skills{
    margin-left: -20px;
  }
  /* .react-activity-calendar h1{
  width: 100px;
  margin-left: 30px;
  } */
  
  }
  
  
  
  
  
  
  
  @media all and (max-width: 600px) {
    .skill{
        display: grid;
        /* width:70%; */
        grid-template-columns: repeat(2,1fr);
        /* margin-left: -5px; */
    } 
    .project-card{
        width:85%;
        margin-left: 30px;
    }
   
  }
  /* @media all and (max-width: 400px) {
    .skill-box{
       margin-left: 30px;
    } 
    .project-card{
        width:85%;
        margin-left: 30px;
    }
    .project-github-link a{
       font-size: 10px;
    }
    .project-deployed-link a{
        font-size: 10px;
    }
  } */
  /* @media all and (max-width: 350px) {
    .skill-box{
        margin-left: -25px;
     } 
     .project-card{
        margin-left: 10px;
    }
  } */
  
  /* @media all and (max-width: 300px) {
    .skill-box{
       margin-left: -40px;
    } 
    .project-card{
        width:85%;
        margin-left: -5px;
    }
    .project-github-link a{
       font-size: 10px;
    }
    .project-deployed-link a{
        font-size: 10px;
    }
  } */