*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  /* font-family: 'monteserrat',sans-serif; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: rgb(24, 24, 24);
}
        /* navbar start */
#nav-menu {
  width:100%;
  height:80px;
 background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;
}

.logo{
  font-size: 30px;
  font-weight: bold;
 
  font-style:italic;
  /* background: #010d1d; */
  padding:10px;
  cursor: pointer;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
}

.hamburger{
  display:none
}

.nav-list ul{
display: flex;
}

.nav-list ul li a {
  display: block;
  color: #f1f1f1;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 50px;
  transition: 0.2s;
  margin:0 5px
}
.nav-list ul li a:hover{
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 100px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;
  font-weight: bold;
  border-bottom: 2px solid #fff387;;
}

#resume-button-1{

  height:50px;
  width:110px;
  border-radius: 12px;
  /* border: 2px solid aqua */
}
#resume-button-1{
  display: flex;
  flex-direction: row;
}
/* #resume-button-1:hover{
 background-color: turquoise;
} */
/* #resume-button-1:hover a{
  color:turquois
} */



                     /* home section styling */


#main{
  background-image:url("./images/dark-background.gif");
  background-size: cover;
  height: 100vh;
  /* border: 1px solid red; */
}
#main>div{
  /* border: 1px solid red; */
}
#main-cont{

  margin-top: 80px;
  width: 100%;
  padding:120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:#f1f1f1;
  /* background-size: 100%; */
  /* margin-left: -300px; */
  /* border: 1px solid red; */
  
}
#main-cont p{
  font-size: 30px;
  margin-bottom: 15px;
}
#main-cont h1{
  font-size: 70px;
  color: black;
  text-align: center;
  text-shadow: 0 0 2px #fff, 0 0 2px #ff4da6, 0 0 10px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6;
margin-bottom: 20px;
}
#main-cont span{
  font-size: 40px;
  color: rgb(28, 143, 18);
  font-weight: 500;
  /* font-size: 80px; */
  /* color: #fff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
font-family: "Sacramento", cursive;
text-align: center;
animation: blink 12s infinite;
-webkit-animation: blink 12s infinite;
}
#resume-button-2{
  margin-top: 10px;
  display: inline-block;
  background: black;
  color: black;
  /* box-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 100px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6; */
  /* border: 1px solid rgb(255, 155, 171); */
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 10px;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;


  /* border: 2px solid rgb(28, 143, 18); */
  transition: all 0.5s ease;
  text-decoration: none;
  /* box-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 100px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6; */

 }

#resume-button-2:hover{
   /* color: rgb(28, 143, 18); */
   cursor: pointer;
   color: black;
   background: none;
   border-radius: 30px;
   /* transform: scale(0.5); */
   text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 100px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;
   
   box-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
   
}


                            

                      /*----about section--- */

.hero{
  text-align: center;
  width:80%;
  margin:auto;
  padding: 30px 0px;

}
.hero img{
 display: block;
 margin: auto;
 height:250px;
 width:250px;
 border-radius: 50%;
 margin-top: 40px;
 margin-bottom: 30px;
 background-color: #fdc55e;
 /* border:3px solid turquoise; */
 box-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;

}
.hero img:hover{
  cursor: pointer;
  background-color:  rgb(24, 24, 24);


}
article h1{
  font-size: 50px;
  padding-top: 60px;
  font-weight: 500;
  color:white;
}
article>span{
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  margin-bottom: 30px;
}
article h1::after{
  content:"";
  height:3px;
  width:225px;
 display: block;
 margin: auto;
}
article h2{
  margin-top: 30px;
  margin-bottom: 30px;
  
  color: #fff6a9;
font-family: "Sacramento", cursive;
text-align: center;
animation: blink 12s infinite;
-webkit-animation: blink 12s infinite;
}
content{
  font-size: 17px;
  color:#ccc;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 20px;
}


         /* skills section */
#skills h1,#projects h1,
#contact h2,.react-activity-calendar h1{
  text-align: center;
  padding-top: 80px;
  color:white;
  font-size: 40px;
  font-weight: 20px;
} 
#skills>span,#projects>span,
#contact span,.react-activity-calendar>span {
  display:block ;
  height:3px;
  width:220px;
  /* background-color:tomato; */
  margin: auto;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  margin-bottom: 30px;
}

.skill-box{
  width:80%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 50px;
  text-align: center;
  
  padding: 40px 50px;
}   
.skill-box>div{
  padding: 5px;
width:100px;

border-radius: 10%;
box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
/* background-color: white; */
/* border: 3px solid turquoise; */
}
.skill-box>div:hover{
  cursor: pointer;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
.skills-card-name{
  color: white;
}
/* .skill-box>div:hover{
  transform: scale(1.1);
  background: turquoise;
} */
.skill-box img{
 width:100%;
 border-radius: 10%;
} 

#toolls h1{
  text-align: center;
  padding-top: 80px;
  color:white;
  font-size: 40px;
  font-weight: 20px;
}

#toolls span{
  display:block ;
  height:3px;
  width:220px;
  /* background-color:tomato; */
  margin: auto;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  margin-bottom: 30px;
}

.toolls-box{
  width:80%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 50px;
  text-align: center;
  
  padding: 40px 50px;
}   
.toolls-box>div{
width:100px;
border-radius: 10%;
padding: 5px;
box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
/* border: 3px solid turquoise; */
}
.toolls-card-name{
 color:white;
}
.toolls-box>div:hover{
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  cursor: pointer;
}
/* .skill-box>div:hover{
  transform: scale(1.1);
  background: turquoise;
} */
.toolls-box img{
 width:100%;
 border-radius: 10%;
} 

               /* project section */

.project{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:100px;
  margin: auto;
  padding-top:40px;
  padding-bottom: 40px;
  transition:transform .5s ease-in-out; 
}

.project-card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-card:hover .project-github-link,
.project-card:hover .project-deployed-link,
.project-card:hover .project-card h2{

background-color: #010d1d !important;
color:black;
}
.project-card:hover .small_div>img{
  border: none;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;

  width: 100%;
}

.project-card h2{
  text-align: center;
  margin:10px 10px;
  margin-top: 20px;
  
}
.project-card{
  box-shadow: rgba(0, 0, 0, 0.24) ;
  background-color:#020811;;
  color: #fff;
  border-radius: 10px;
  padding:5%;
  text-align: center;
  /* border: 2px solid  #fff16f; */
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  
}

.project-card img{
 
  width: 90%;
  border-radius: 10px;
  /* border:3px solid  #fff16f; */
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */

}
.project .project-card p{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.project-tech-stack{
  margin-top: 10px;
}
.repo-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-top: 5%;
  margin-left: 10px;
}

.project-github-link {

  width: 35%;
}
.project-github-link button{
  width: 100%;
  height: 100%;
  color: #fdc55e;
  font-size: larger;
  font-weight: bold;
  border-radius: 15px;
  background: none;
  border: 2px solid #fdc55e; 
}
.project-github-link button:hover{
  cursor: pointer;
  color: #fdc55e;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;

}
.project-github-link a{
  text-decoration: none;
  
}
.project-deployed-link {
 
  width: 35%;
  margin-right: 20px;
  
}
.project-deployed-link button:hover{
  cursor: pointer;
  color: #fdc55e;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;

}
.project-deployed-link button{
  width: 100%;
  height: 100%;
  color: #fdc55e;
  font-size: larger;
  font-weight: bold;
  border-radius: 15px;
  background: none;
  border: 2px solid #fdc55e;
}
.project-deployed-link a{
  text-decoration: none;
}


                   /* github section */

.git-box{
  width:85%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  gap:20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.git-box img{
  width:100%;
}
.calendar{
  width:90%;
 color:white
}

                       /* contact section styling */


.contact-content {
  width:90%;
  display: flex;
  margin:auto;
  justify-content: space-between;
  padding-top:50px;
  padding-bottom: 50px;
  color: #f1f1f1;
}
.text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.sub-title{
   font-weight:500
}
.icons{
  margin-top: 40px;
}
.row {
  display: flex;
  line-height: 3;
}
.info {
  margin-left: 30px;
}
.row i {
  font-size: 25px;
  color: white;
}

.info a {
  color: #f1f1f1
}

.fields {
  display: flex;
}
.field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.textarea {
  height: 80px;
  width: 100%;
}
.name {
  margin-right: 10px;
}
.field input,
.textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid tomato;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
}
.textarea textarea {
  padding-top: 10px;
  resize: none;
}

.button-area button {
  width: 160px !important;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  background: tomato;
  border: 2px solid tomato;
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: turquoise;
  background: none;
}



                    /* footer section styling */
footer{
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white ;
  text-align: center;
}
  hr{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
  } 
  footer>p{
    margin-bottom: 10px;
  }               
footer>a{
  color: white;
  font-size: x-large;
  margin-right: 15px;
}

                                /*------------ responsiveness---------------- */

@media all and (max-width: 1320px) {

  #nav-menu{
      padding: 0 50px;
       /* width:100%  */
  }
 
}
@media all and (max-width: 1100px) {
  #nav-menu{
     padding: 0 30px;
     /* width:100% */
  }
   
 }

@media all and (max-width: 900px) {
    
  .hamburger{
  display: block;
  cursor: pointer;
  }
  .hamburger .line{
  width:30px;
  height:3px;
  background: #fefefe;
  margin: 6px 0px;

  }
  .nav-list{
  height: 0px;
  position: absolute;
  top: 80px;
  left:0px;
  right:0px;
  width:100vw;
  background: tomato;  
  transition: 0.2s;
  overflow: hidden;
  }
  .nav-list.active{
      height: 450px;
  }
  .nav-list ul{
      display: block;
      width: fit-content;
      margin:80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  }
  .nav-list.active ul{
      opacity:1
  } 
  .nav-list ul li a {
      line-height: 30px;
      color: #f1f1f1;
  }
  .nav-list ul li:nth-child(6):hover{
      background-color:  transparent!important;
      border:2px solid turquoise;
      border-radius: 10px;
    
  }
  .nav-list ul li:nth-child(6):hover #resume-button-1{
      background-color:  transparent !important;
      border:none;
  }
  #main{

    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    height: max-content;
    flex-direction: column;
    align-items: center;
  }
  
 #main-cont{
  width: 100%;
 }
   
  .skill-box{
      display: grid;
      /* width:70%; */
      grid-template-columns: repeat(3,1fr);

  } 
  .toolls-box{
    display: grid;
    /* width:70%; */
    grid-template-columns: repeat(3,1fr);

} 

  .project{
      display: grid;
      grid-template-columns: repeat(1,1fr);
  }
  .project-card{
      width:90%
  }
  .contact-content,.fields,.git-box{
      display :flex;
      flex-direction: column;
      height:auto;   
  } 
  .contact-content,.icons{
      padding:0px;
      margin:20px
  }
  #main-cont p{
      font-size: 30px;
      margin-bottom: 15px;
  }
  #main-cont h1{
      font-size: 40px;
      margin-bottom: 15px;
  }
  #main-cont span{
      font-size: 30px;
  }
  .project-github-link a{
      font-size: 12px;
   }
   .project-deployed-link a{
       font-size: 12px;
   }
}
@media all and (max-width: 600px) {
  .skill-box{
      display: grid;
      /* width:70%; */
      grid-template-columns: repeat(2,1fr);
      /* margin-left: -5px; */
  } 
  .toolls-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .project-card{
      width:85%;
      margin-left: 30px;
  }
 
}
@media all and (max-width: 400px) {
  .skill-box{
     margin-left: 30px;
  } 
  .toolls-box{
    margin-left: 30px;
    /* border: 1px solid red; */
  }
 
  .project-card{
      width:85%;
      margin-left: 30px;
  }
  .project-github-link a{
     font-size: 10px;
  }
  .project-deployed-link a{
      font-size: 10px;
  }
}
@media all and (max-width: 350px) {
  .skill-box{
      margin-left: -25px;
   } 
   .project-card{
      margin-left: 10px;
  }
}

@media all and (max-width: 300px) {
  .hero img{
     width:100%
  }
  .skill-box{
     margin-left: -40px;
  } 
  .skill-box>div{
      width:90px
  }
  .project-card{
      width:85%;
      margin-left: -5px;
  }
  .project-github-link a{
     font-size: 10px;
  }
  .project-deployed-link a{
      font-size: 10px;
  }
  .info{
      margin-left: 20px;
  }
}

      /* scroll up-button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #020811;
  color: turquoise;
  cursor: pointer;
  padding: 12px;
  border-radius: 7px;
}

#myBtn:hover {
  background-color: turquoise ;
  color:#010d1d
}






/*     webkit */

@-webkit-keyframes bli {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  22%,
  28%,
  33%,
  24%,
  65%,
  80%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


@-webkit-keyframes glow {
  from {

    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 25px #ffa500, 0 0 30px #ffa500, 0 0 35px #ffa500, 0 0 40px #ffa500;
  }
}
@-webkit-keyframes low {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff8d00, 0 0 20px #ff8d00, 0 0 25px #ff8d00, 0 0 30px #ff8d00, 0 0 35px #ff8d00;
  }

  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes hinge {
  0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }  
  20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }  
  40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
  80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
  100% { transform: translateY(700px); opacity: 0; }
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}